<ion-content>
  <h1>Tarea</h1>
  <h2>Crea y gestiona tus tareas</h2>

  <main>
    <section id="resumen">
      <div id="tareas">
        ✓ {{ tareasCompletadas }} Completadas
      </div>
    
      <div id="pendientes">
        {{ tareasPendientes }} Pendientes
      </div>
    
      <div id="completadas">
        {{ tareasCompletadas }} Completadas
      </div>
    </section>

    <section id="filtros">
      <div id="todas">Todas</div>
      <div id="pendientes">Pendientes</div>
      <div id="completadas">Completadas</div>
      <div id="vencidas">Vencidas</div>
    </section>

    <section id="tareas">

      <div class="tarea" *ngFor="let task of tasks">
        <input 
        type="checkbox" 
        [(ngModel)]="task.completada"
        (change)="cambiarEstado(task)">
        <div class="informacion-tarea">
          <button (click)="eliminarTask(task.id)">
            🗑
          </button>
          <span class="nombre-tarea">{{ task.name }}</span>
          <div class="detalles-tarea">
            <span class="fecha">📅{{task.date | date:'dd/MM/yyyy'}}</span>
            <span class="categoria">🏷 {{ task.categoria }}</span>
          </div>
        </div>
        <span class="prioridad">{{ task.prioridad }}</span>
        <span class="flecha">></span>
      </div>

      <div class="tareas-vencidas">
        <span class="imagen">📅</span>
        <span class="tarea-vencida"> Tienes tantas tareas vencidas </span>
        <div class="mensaje">No olvides completarlas!!</div>
        <button (click)="agregarTask()">Agregar Tarea</button>
      </div>
    </section>

  </main>
  <app-bottom-navigation></app-bottom-navigation>
</ion-content>