.bottom-nav {
  display: flex;
  position: fixed;
  bottom: 0;
  gap: 15px;
  justify-content: space-around;
  align-items: center;
  flex-direction:row;
}

.nav-item {
  display:flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}

.icon {
  font-size: 20px;
  margin-bottom: 4px;
}
.active {
  border-bottom: 3px solid #007bff;
}
