<ion-content>

  <h1>Perfil</h1>
  <h2>Gestiona tu información personal y configuración</h2>

  <main>

    <!-- PERFIL USUARIO -->

    <section id="perfil">

      <img src="assets/images/profile.jpg" alt="Foto de perfil">

      <div class="info">
        <span class="nombre">{{ perfil.nombre }}</span>
        <span class="email">{{ perfil.email }}</span>

        <button type="button" (click)="editando = true">
          Editar perfil
        </button>
      </div>

    </section>
    <div class="modal" *ngIf="editando">

  <div class="modal-content">

    <h2>Editar perfil</h2>

    <div class="form-group">
      <label>Nombre</label>
      <input type="text" [(ngModel)]="perfil.nombre">
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" [(ngModel)]="perfil.email">
    </div>

    <div class="form-group">
      <label>Fecha nacimiento</label>
      <input type="date" [(ngModel)]="perfil.fechaNacimiento">
    </div>

    <div class="form-group">
      <label>Ciclo</label>
      <input type="number" [(ngModel)]="perfil.ciclo">
    </div>

    <div class="botones"> 
      <button class="guardar" (click)="guardarPerfil()">Guardar</button>
      <button class="cancelar" (click)="editando = false">Cancelar</button>
  </div>

  </div>

</div>

    <!-- INFORMACIÓN PERSONAL -->
<h2>Información personal</h2>

<section class="datos">

  <div class="caja">
    <span class="imagen">📧</span>
    <div class="contenido">
      <span class="titulo">Correo electrónico</span>
      <span class="valor">{{ perfil.email }}</span>
    </div>
    <span class="flecha">></span>
  </div>

  <div class="caja">
    <span class="imagen">👤</span>
    <div class="contenido">
      <span class="titulo">Nombre completo</span>
      <span class="valor">{{ perfil.nombre }}</span>
    </div>
    <span class="flecha">></span>
  </div>

  <div class="caja">
    <span class="imagen">🎂</span>
    <div class="contenido">
      <span class="titulo">Edad</span>
      <span class="valor">{{ perfil.edad }} años</span>
    </div>
    <span class="flecha">></span>
  </div>

  <div class="caja">
    <span class="imagen">📅</span>
    <div class="contenido">
      <span class="titulo">Fecha de nacimiento</span>
      <span class="valor">{{ perfil.fechaNacimiento | date:'longDate' }}</span>
    </div>
    <span class="flecha">></span>
  </div>

  <div class="caja">
    <span class="imagen">🔄</span>
    <div class="contenido">
      <span class="titulo">Ciclo</span>
      <span class="valor">{{ perfil.ciclo }}</span>
    </div>
    <span class="flecha">></span>
  </div>

</section>


   <!-- PREFERENCIAS -->
<h2>Preferencias</h2>

<section class="datos">

  <!-- Notificaciones -->
  <div class="caja">
    <span class="imagen">🔔</span>
    <div class="contenido">
      <span class="titulo">Notificaciones</span>
      <span class="valor">{{ notificaciones ? 'Activadas' : 'Desactivadas' }}</span>
    </div>
    <!-- Toggle conectado a TS -->
    <ion-toggle [(ngModel)]="notificaciones"></ion-toggle>
  </div>

  <!-- Tema -->
  <div class="caja">
  <span class="imagen">🌙</span>
  <div class="contenido">
  </div>
  <ion-select [(ngModel)]="tema" interface="popover">
    <ion-select-option value="Claro">Claro</ion-select-option>
    <ion-select-option value="Oscuro">Oscuro</ion-select-option>
  </ion-select>
</div>

</section>

<!-- Btn para guardar cambios -->
<button (click)="guardarPreferencias()">Guardar preferencias</button>

    <!-- CUENTA -->

    <h2>Cuenta</h2>

    <section class="datos">

      <div class="caja">
        <span class="imagen">🔒</span>

        <div class="contenido">
          <span class="titulo">Cambiar contraseña</span>
        </div>

        <span class="flecha">></span>
      </div>

      <div class="caja">
        <span class="imagen">🚪</span>

        <div class="contenido">
          <span class="titulo">Cerrar sesión</span>
        </div>

        <span class="flecha">></span>
      </div>

    </section>

  </main>

  <app-bottom-navigation></app-bottom-navigation>

</ion-content>
