<ion-content>

  <h1>Perfil</h1>
  <h2>Gestiona tu información personal y configuración</h2>

  <main>

    <!-- PERFIL USUARIO -->

    <section id="perfil">

      <img src="assets/images/profile.jpg" alt="Foto de perfil">

      <div class="info">
        <span class="nombre">{{ userName }}</span>
        <span class="email">{{ userEmail }}</span>

        <button type="button">
          Editar perfil
        </button>
      </div>

    </section>

    <!-- INFORMACIÓN PERSONAL -->

    <h2>Información personal</h2>

    <section class="datos">

      <div class="caja">
        <span class="imagen">📧</span>

        <div class="contenido">
          <span class="titulo">Correo electrónico</span>
          <span class="valor">{{ userEmail }}</span>
        </div>

        <span class="flecha">></span>
      </div>

      <div class="caja">
        <span class="imagen">👤</span>

        <div class="contenido">
          <span class="titulo">Nombre completo</span>
          <span class="valor">{{ userName }}</span>
        </div>

        <span class="flecha">></span>
      </div>

    </section>

    <!-- PREFERENCIAS -->

    <h2>Preferencias</h2>

    <section class="datos">

      <div class="caja">
        <span class="imagen">🔔</span>

        <div class="contenido">
          <span class="titulo">Notificaciones</span>
          <span class="valor">Activadas</span>
        </div>

        <span class="flecha">></span>
      </div>

      <div class="caja">
        <span class="imagen">🌙</span>

        <div class="contenido">
          <span class="titulo">Tema</span>
          <span class="valor">Claro</span>
        </div>

        <span class="flecha">></span>
      </div>

    </section>

    <!-- CUENTA -->

    <h2>Cuenta</h2>

    <section class="datos">

      <div class="caja">
        <span class="imagen">🔒</span>

        <div class="contenido">
          <span class="titulo">Cambiar contraseña</span>
        </div>

        <span class="flecha">></span>
      </div>

      <div class="caja" (click)="cerrarSesion()" style="cursor: pointer;">
        <span class="imagen">🚪</span>

        <div class="contenido">
          <span class="titulo">Cerrar sesión</span>
        </div>

        <span class="flecha">></span>
      </div>

    </section>

  </main>

  <app-bottom-navigation></app-bottom-navigation>

</ion-content>