<ion-content [fullscreen]="true">
  <section id="welcome">
  <h1>¡Hola, Nombre?</h1>
  <h6>Aquí tienes un resumen de tu día</h6>
</section>
  <main>
    <section id="resumen">
      <div id="progreso"> Barra de progreso </div>
      <div id="mensaje"> 25% descripción </div>
      <div id="indicadores"> Hábitos Tareas </div>
    </section>

    <section id="habitos">
      <h2>Hábitos de hoy</h2>
      <div class="habit">
        <span class="habit-name">Leer 20 min</span>
        <input type="checkbox">
      </div>
      <div class="habit">
        <span class="habit-name">Leer 20 min</span>
        <input type="checkbox">
      </div>
      <div class="habit">
        <span class="habit-name">Leer 20 min</span>
        <input type="checkbox">
      </div>
    </section>
  </main>
  <app-bottom-navigation></app-bottom-navigation>

</ion-content>