ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
}

#welcome {
  margin-bottom: 25px;
}

#welcome h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 5px;
}

#welcome h6 {
  font-size: 14px;
  color: #666;
  margin: 0;
}

#resumen {
  background: #ffffff;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;
  gap: 12px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

#progreso {
  margin-bottom: 15px;
}

#mensaje {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

#indicadores {
  display: flex;
  justify-content: space-between;
}

#habitos h2 {
  margin-bottom: 15px;
}

.habit {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px;
  margin-bottom: 10px;

  background: white;
  border-radius: 15px;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.habit-name {
  font-size: 16px;
  font-weight: 500;
}