<ion-content [fullscreen]="true">
  <section id="welcome">
    <h1>¡Hola, Nombre?</h1>
    <h6>Aquí tienes un resumen de tu día</h6>
  </section>
  <main>
    <section id="resumen">
      <div id="indicadores">
        <p>
          Hábitos: {{ totalHabits }}
        </p>
        <p>
          Hábitos completados:
          {{ habitsCompletados }}
        </p>
        <p>
          Tareas: {{ totalTareas }}
        </p>
        <p>
          Tareas pendientes:
          {{ tareasPendientes }}
        </p>
      </div>
    </section>

    <section id="habitos">
      <h2>Hábitos de hoy</h2>
      <div class="habit" *ngFor="let habit of habits">
        <span class="habit-name">
          {{ habit.name }}
        </span>
        <input type="checkbox" [checked]="habit.completado">
      </div>
    </section>

    <section id="tareas">
      <h2>Tareas pendientes</h2>
      <div 
        class="task" 
        *ngFor="let task of tareasPendientesLista">
        <span class="task-name">
          {{ task.name }}
        </span>
        <span class="task-category">
          {{ task.categoria }}
        </span>
        <span class="task-priority">
          {{ task.prioridad }}
        </span>
      </div>

    </section>
  </main>
  <app-bottom-navigation></app-bottom-navigation>

</ion-content>